
div{
    display: flex;
    justify-content: center;
}
.container{
    text-align: center;
    flex-direction: column;
    gap:5px;
}
.todo{
    color: blue;
    gap:5px;
}
h3{
    height:5px;
    margin: 2px;
}
#todo-input{
    margin:10px;
}
.header{
    border-bottom:1px solid black ;
}
i{
    pointer-events: none;
}